<template>
  <empty-layout>
    <auth/>
  </empty-layout>
</template>

<script>
// @ is an alias to /src
import EmptyLayout from '@/layouts/EmptyLayout.vue'
import Auth from '@/components/Auth.vue'
export default {
  components:{
    EmptyLayout,
    Auth
  },
  name: 'home'
}
</script>
