<template>
  <div>
    <main-layout>
      <router-view></router-view>
    </main-layout>
  </div>
</template>

<script>

import MainLayout from '@/layouts/MainLayout'
  export default {
    components:{
      MainLayout
    },
    data: () => ({
      title: 'Список операторов'
    })
  }
</script>

<style lang="scss" scoped>

</style>
