<template>
    <v-snackbar
      v-if="alertMeaasge"
      v-model="alertMeaasge.status"
      :multi-line="multiLine"
    >
      {{ alertMeaasge.message }}
      <v-btn text @click="closeAlert">
        Закрыть
      </v-btn>
    </v-snackbar>
</template>

<script>
    export default {
        data: () => ({
          snackbar: true,
          multiLine: true,
          text: 'hello'
        }),
        computed: {
          alertMeaasge(){
            return this.$store.getters.alertMessage
          }
        },
        methods:{
          closeAlert(){
            this.$store.commit('SET_ALERTMESSAGE', {status: false});
          }
        }
    }
</script>

<style lang="scss" scoped>

</style>