<template>
    <v-card class="elevation-12">
        <v-toolbar
        color="primary"
        dark
        flat
        >
        <v-toolbar-title>Форма авторизации</v-toolbar-title>

        </v-toolbar>
        <v-card-text>
        <v-form>
            <v-alert type="error" dense outlined v-if="error">{{error}}</v-alert>

            <v-text-field
            label="Email"
            name="Email"
            prepend-icon="person"
            type="text"
            :class="{ 'error--text': $v.user.email.$error }"
            v-model.trim="user.email"
            ></v-text-field>
            <v-alert type="error" dense outlined v-if="$v.user.email.$error">Неверный E-mail</v-alert>


            <v-text-field
            id="password"
            label="Password"
            name="password"
            prepend-icon="lock"
            type="password"
            :class="{ 'error--text': $v.user.password.$error }"
            v-model.trim="user.password"
            ></v-text-field>
            <v-alert type="error" dense outlined v-if="$v.user.password.$error">Неверный пароль</v-alert>
        </v-form>
        </v-card-text>
        <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click.prevent='logInHandler'>Login</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import { required, minLength, between, email } from 'vuelidate/lib/validators'
import {mapState} from 'vuex'
import firebase from 'firebase/app'
export default {
    data: () =>({
        user: {
            email: '',
            password: ''
        }
    }),
    methods:{
        async logInHandler(){
            this.$v.user.$touch();
            
            if(!this.$v.user.$anyError){
                const userData = {
                    email: this.user.email,
                    password: this.user.password
                }
                try {
                    this.$store.commit('SET_PROCESS', true)
                    console.log('valid');
                    await this.$store.dispatch('login', userData)
                    this.$router.push('/operators')
                    this.$store.commit('SET_PROCESS', false)
                    this.$store.commit('CLEAR_ERROR')
                } catch (error) {
                    this.$store.commit('SET_PROCESS', false)
                }
            }
        }
    },
    computed:{
        ...mapState({
            error: state => state.error
        })
    },
    validations:{
        user: {
            email: {
                email: email,
                minLength: minLength(4),
                required: required
            },
            password: {
                required: required,
                minLength: minLength(4)
            }
        }
    },
    beforeCreate(){
        firebase.auth().onAuthStateChanged((user) => {
            if(user){
                this.$router.push('/operators')
            }
        })
    },
}
</script>