<template>
    <div>

        <div v-if="operatorByName">
            <h1 class="text-center title">Пополнить баланс {{ operatorByName.name }}
                <span class="title__balance">Текущий баланс {{ currentBalance | currency }}</span>
            </h1>

            <div>
                <v-divider></v-divider>
            </div>

            <v-form  ref="form" >

                <v-text-field
                v-model="operatorByName.phone"
                label="Номер телефона"
                v-mask="maskPhone"
                :class="{'error--text' : $v.operatorByName.phone.$error}"
                required
                ></v-text-field>
                <v-alert type="error" dense outlined v-if="$v.operatorByName.phone.$error">Номер телефона должен сордержать 12 символов</v-alert>

                <v-text-field
                v-model.number="operatorByName.balance"
                :class="{'error--text' : $v.operatorByName.balance.$error}"
                prefix="$"
                @input="validateBalance"
                type="number"
                label="Сумма поплнения"
                required
                ></v-text-field>
                <v-alert type="error" dense outlined v-if="$v.operatorByName.balance.$error">Введите сумму пополнения от 1$ до 1000$</v-alert>

                <v-btn
                color="primary"
                @click="updateBalance"
                :disabled="disabled"
                >
                Пополнить
                </v-btn>
            </v-form>


        </div>

    </div>
</template>

<script>
    import { required, minLength, maxLength, helpers, between, numeric } from 'vuelidate/lib/validators';
    import { mask } from 'vue-the-mask';
    import firebase from 'firebase/app';
    // const alphaNum = helpers.regex('alphaNum', /^[0-9]*$/);
    const alphaNum = helpers.regex('alphaNum', /^[0-9/.-]+$/);
    export default {
        directives: {mask},
        data: () => ({
            maskPhone: '###-###-####',
            currentBalance: 0,
            disabled: false
        }),
        validations:{
            operatorByName:{
                balance: {
                    required: required,
                    between: between(1, 1000),
                    minLength: minLength(1),
                    maxLength: maxLength(7)
                },
                phone: {
                    minLength: minLength(12),
                    maxLength: maxLength(12),
                    required: required
                }
            }
        },
        async mounted(){
            console.log('Balance component is mounted');
            this.$store.commit('SET_PROCESS', true);
            await this.$store.dispatch('getOperatorListByName', this.$route.params.name);
            console.log(this.operatorByName);
            
            
            // await this.$store.dispatch('getOpertaorsList');
            if(!this.operatorByName){
                this.$router.push('/operators')
            }else{
                setTimeout(() => {
                    this.operatorByName.balance = this.operatorByName.balance.toFixed(2)
                },0)
                this.currentBalance = this.operatorByName.balance
                this.$store.commit('SET_PROCESS', false)
            }
            
        },
        computed: {
            operatorByName(){
                return this.$store.getters.operatorByName
            }
        },
        methods:{
            async updateBalance(){


                this.$v.operatorByName.$touch()
                if(!this.$v.operatorByName.$anyError){
                    this.$store.commit('SET_PROCESS', true);
                    const checkBalance = parseFloat(this.currentBalance) + parseFloat(this.operatorByName.balance);
                    const curbal = checkBalance - parseFloat(this.currentBalance);
                    await this.$store.dispatch('setNewBalanceInfo', {
                        balance: checkBalance > 1000 ? 1000 : parseFloat(checkBalance),
                        name: this.operatorByName.name,
                        phone: this.operatorByName.phone,
                        routerName: this.operatorByName.routerName
                    })
                    await this.$store.dispatch('getOperatorListByName', this.$route.params.name);
                    this.operatorByName.balance = this.operatorByName.balance.toFixed(2)

                    this.currentBalance = this.operatorByName.balance;
                    this.$store.commit('SET_PROCESS', false);
                    this.$store.commit('SET_POPUPMESSAGE', {
                        status: true,
                        message: `Ваш баланс пополнен на ${curbal.toFixed(2)} $`
                    });
                    setTimeout(()=>{
                        this.$store.commit('SET_POPUPMESSAGE', {
                            status: false,
                            message: ''
                        });
                    },5000)
                }
            },
            validateBalance(e){
                    this.$v.operatorByName.$touch()
                    if(this.$v.operatorByName.$anyError || this.currentBalance === 1000){
                        this.disabled = true
                    }else{
                        this.disabled = false
                    }
                    // let eventValue = parseFloat(e);
                    
                    // console.log(eventValue);
                    // if(eventValue > 1000){
                    //     console.log(this.operatorByName.balance);
                        
                        
                    //     this.operatorByName.balance = 1000
    
                    // }else if(eventValue === 0){
                    //     this.operatorByName.balance = 1
                    // }
                
                
            }
        },
        beforeDestroy(){
            this.$store.commit('RESET_OPERATORBYNAME', null)
        },
        watch:{
            currentBalance:{
                handler(val){
                    if(val === 1000){
                        this.disabled = true
                    }
                }
            }
        }
    }
</script>

<style lang="sass" scoped>
.title
    text-transform: uppercase
    display: flex
    justify-content: space-between
    &__balance
        font-size: 12px
        color: #333

</style>