<template>
    <v-overlay :value="process">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
</template>

<script>
    export default {
        data: () => ({

        }),
        computed:{
            process(){
                return this.$store.getters.process
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>