<template>
  <v-card>
    <v-simple-table v-if="userInfo != null">
      <template v-slot:default v-if="operatorsList">
        <thead>
          <tr>
            <th class="text-left">Список операторов</th>
            <th class="text-left">Баланс</th>
          </tr>
        </thead>
        <tbody >
          <tr class="table-row" v-for="(item) in operatorsList" :key="item.id" @click.prevent='goToBalance(item)'>
            <td>{{ item.name }}</td>
            <td>{{ item.balance | currency }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <div v-else>
      <v-alert type="info">
        Войдите в систему чтобы пополнить баланс
      </v-alert>
    </div>

  </v-card>
</template>

<script>
import {eBus} from '../main'
    export default {
        data: () => ({
        }),
        computed:{
          operatorsList(){
            return this.$store.getters.operatorsList
          },
          userInfo(){
            return this.$store.getters.userInfoGet
          }
        },
        async mounted (){
          this.$store.commit('SET_PROCESS', true);
          await this.$store.dispatch('getOpertaorsList');
          this.$store.commit('SET_PROCESS', false);
          console.log(this.userInfo);
          
        },
        methods:{
          goToBalance(item){
            this.$router.push(`/operators/${item.routerName}`);
          }
        }
    }
</script>

<style lang="sass" scoped>
.table-row
  &:hover
    cursor: pointer
</style>