<template>
    <v-dialog
      v-model="popupMessage.status"
      max-width="430"
    >
      <v-card>
        <v-card-title class="headline">{{ popupMessage.message }}</v-card-title>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            text
            @click="closePopup"
          >
            Закрыть
          </v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>
 
</template>

<script>
  export default {
    data () {
      return {
        dialog: true,
      }
    },
    computed:{
      popupMessage (){
        return this.$store.getters.popupMessage
      }
    },
    methods:{
      closePopup(){
        this.$store.commit('SET_POPUPMESSAGE', {
            status: false,
            message: ''
        });
      }
    }
  }
</script>

<style lang="sass" scoped>

.headline
  white-space: nowrap

</style>