<template>
  <div class="page">
      <router-view></router-view>
      <alert />
      <popup />
  </div>
</template>

<script>
import firebase from 'firebase/app'
export default {
  name: 'App',
  components:{
    'alert' : () => import('@/components/Alert.vue'),
    'popup' : () => import('@/components/Popup.vue'),
  },
  data: () => ({
    //
  }),
  mounted(){
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        console.log('User is signed in.');
        console.log(user);
        
        this.$store.commit('SET_ALERTMESSAGE', {message: `Текущий пользователь  ${user.email}`, status: true});
      }else{
        console.log(user);
        
        console.log('User is signed out.');
        this.$store.commit('SET_ALERTMESSAGE', {message: 'пользователь вышел', status: true});
        this.$router.push('/')
      }
    });
  }
};
</script>

<style lang="sass">
.error--text *
  color: red!important

body
  font-family: 'Roboto', sans-serif
</style>
