<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>

        <v-row align="center" justify="center">
          
          <v-col cols="12" sm="8" md="4">
            <slot></slot>
          </v-col>

        </v-row>
        
      </v-container>
    </v-content>

    <loader />
  </v-app>
</template>

<script>
import Loader from '@/components/Loader.vue'
  export default {
    components:{
      Loader
    },
    data: () => ({
    }),
  }
</script>