<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list dense>

        <v-list-item to='/operators'>
          <v-list-item-action>
            <v-icon>mdi-cellphone-android</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Мобильные Операторы</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="indigo"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <!-- <v-toolbar-title>Application</v-toolbar-title> -->
      <v-spacer></v-spacer>

        <span class="mr-5" v-if="userInfoGet">{{ userInfoGet.email }}</span>
        
        <v-avatar color="red">
            <span class="white--text headline">CJ</span>
        </v-avatar>

        <v-btn v-if="userInfoGet != null || userInfoGet != undefined" class="ml-5" color="red" @click.prevent='logout'>Logout</v-btn>
        <v-btn v-else class="ml-5" color="blue" @click.prevent='login'>Login</v-btn>

    </v-app-bar>

    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >

          <v-col sm="6">
            <slot></slot>
          </v-col>

        </v-row>

      </v-container>
    </v-content>
    <v-footer
      color="indigo"
      app
    >
      <span class="white--text">&copy; 2019</span>
    </v-footer>

    <loader />
  </v-app>
</template>

<script>
import Loader from '@/components/Loader.vue'
  export default {
    components: {
      Loader
    },
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
    }),
    methods:{
        async logout(){
            await this.$store.dispatch('logout')
            this.$store.commit('CLEAR_ERROR')
            // this.$router.push('/')
        },
        login(){
          this.$router.push('/')
        }
    },
    computed:{
      userInfoGet(){
          return this.$store.getters.userInfoGet
      }
    },
    async mounted(){

      await this.$store.dispatch('getUser');
      
    }
  }
</script>